body {
    background-color: #ADD8E6;
    margin: 0 auto;
}

#login {
    background-color: #f8f9fa;
    width: 350px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px red;
    margin-top: 40px;
}

h1 {
    width: 100%;
    height: 42px;
    background-color:#0dcaf0;
    color:black;
    margin-top: 0px;
}

#login div {
    padding: 10px;
    width: 100%;
}
tr{
    margin-right:25px;
}